.category-chooser {
	max-width: 100%;
    overflow: auto;
    font: 10px Verdana, sans-serif;
    box-shadow: 0 0 5px #ccc;
    padding: 10px;
    border-radius: 5px;
	margin-top: 1em;
	min-height: 200px;
}